<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Enlace a Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        .footer {
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 1rem 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .content {
            padding-bottom: 5rem; /* espacio suficiente para el footer */
        }
        .footer .social-icons a {
            margin: 0 0.5rem;
            font-size: 1.5rem;
            color: white;
        }
        .navbar .social-icons a {
            margin: 0 0.5rem;
            font-size: 1.5rem;
            color: white;
        }
    </style>
</head>
<body>
    <!-- Barra de navegación -->
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
                <div class="container-fluid">
                    <!-- Logo e imagen -->
                    <a class="navbar-brand" href="#">
                        <span class="highlight">+ Empleo</span>
                    </a>
                    <!-- Botón del menú colapsable -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Menú colapsable -->
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/curriculum">Curriculum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/vacante">Vacantes</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Iconos de Redes Sociales -->
                    <div class="d-flex social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61560354602931&mibextid=ZbWKwL" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/mas_empleogv?igshid=dWU1NXAyMWRyZ203" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.tiktok.com/@agencia.empleo8?_t=8n1O5z0fvuv&_r=1" class="text-white"><i class="fab fa-tiktok"></i></a>
                    </div>
                    <!-- Botón de Cerrar Sesión -->
                    <div>
                        <a class="btn btn-danger" href="/logout">Cerrar Sesión</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class="container content">
        <div class="row">
            <% vacantes.forEach(vacante => { %>
            <div class="col-md-6 col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <%= vacante.titulo %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= vacante.titulo %></h5>
                        <p class="card-text"><%= vacante.descripcion %></p>
                        <!-- Detalles de la vacante colapsables -->
                        <div class="collapse mt-3" id="vacanteDetalles<%= vacante._id %>">
                            <!-- Detalles de la vacante en una lista -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Categoría:</strong> <%= vacante.categoria %></li>
                                <li class="list-group-item"><strong>Empresa:</strong> <%= vacante.empresa %></li>
                                <li class="list-group-item"><strong>Ubicación:</strong> <%= vacante.ubicacion %></li>
                                <li class="list-group-item"><strong>Salario:</strong> <%= vacante.salario %></li>
                                <li class="list-group-item"><strong>Horario:</strong> <%= vacante.horario %></li>
                                <li class="list-group-item"><strong>Forma de Postulación:</strong> <%= vacante.postulacion %></li>
                                <li class="list-group-item"><strong>Educación Mínima Requerida:</strong> <%= vacante.educacion %></li>
                                <li class="list-group-item"><strong>Tipo de Trabajo:</strong> <%= vacante.tipo_trabajo %></li>
                                <li class="list-group-item"><strong>Requisitos:</strong> <%= vacante.requisitos %></li>
                            </ul>
                        </div>
                        <!-- Botón para mostrar u ocultar los detalles de la vacante -->
                        <div class="button-group">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#vacanteDetalles<%= vacante._id %>" aria-expanded="false" aria-controls="vacanteDetalles<%= vacante._id %>">
                                Ver detalles
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <!-- Modal para registrar -->
    <div class="modal fade" id="registrarModal" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
        <!-- Contenido del modal -->
    </div>

    <!-- Pie de página -->
    <footer class="footer">
        <div class="container">
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61560354602931&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/mas_empleogv?igshid=dWU1NXAyMWRyZ203"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@agencia.empleo8?_t=8n1O5z0fvuv&_r=1"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </footer>

    <!-- Script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
