<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vacante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>


<body>
    

    <!-- Barra de navegación -->
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
                <div class="container-fluid">
                    <!-- Logo e imagen -->
                    <a class="navbar-brand" href="#">
                        <span class="highlight">+ Empleo</span>
                    </a>
                    <!-- Botón del menú colapsable -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Menú colapsable -->
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/curriculum">Curriculum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/vacante">Vacantes</a>
                            </li>

                        </ul>
                    </div>
                    <!-- Botón de Cerrar Sesión -->
                    <div>
                        <a class="btn btn-danger" href="/logout">Cerrar Sesión</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>        

    <div class="mt-3"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start"> <!-- Alinea el contenido a la izquierda -->
                <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#registrarVacanteModal"> <!-- Añade clase de margen derecho (me-3) -->
                    Registrar Nueva Vacante
                </button>
            </div>
        </div>
    </div>

    <div class="mt-3"></div>

    
    
    
    

        <!-- Modal para registrar una nueva vacante -->
        <div class="modal fade" id="registrarVacanteModal" tabindex="-1" aria-labelledby="registrarVacanteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrarVacanteModalLabel">Registrar Nueva Vacante</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para crear una nueva vacante -->
                        <form action="/crear_vacante" method="POST">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título de la vacante</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título de la vacante">
                            </div>
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción de la vacante</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Descripción de la vacante"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="categoria" class="form-label">Categoría</label>
                                <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Categoría de la vacante">
                            </div>
                            <div class="mb-3">
                                <label for="empresa" class="form-label">Empresa</label>
                                <input type="text" class="form-control" id="empresa" name="empresa" placeholder="Empresa">
                            </div>
                            <div class="mb-3">
                                <label for="ubicacion" class="form-label">Ubicación</label>
                                <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ubicación">
                            </div>
                            <div class="mb-3">
                                <label for="salario" class="form-label">Salario</label>
                                <input type="text" class="form-control" id="salario" name="salario" placeholder="Salario">
                            </div>
                            <div class="mb-3">
                                <label for="horario" class="form-label">Horario</label>
                                <input type="text" class="form-control" id="horario" name="horario" placeholder="Horario">
                            </div>
                            <div class="mb-3">
                                <label for="postulacion" class="form-label">Forma de Postulación</label>
                                <input type="text" class="form-control" id="postulacion" name="postulacion" placeholder="Forma de Postulación">
                            </div>
                            <div class="mb-3">
                                <label for="educacion" class="form-label">Educación Mínima Requerida</label>
                                <input type="text" class="form-control" id="educacion" name="educacion" placeholder="Educación Mínima Requerida">
                            </div>
                            <div class="mb-3">
                                <label for="tipo_trabajo" class="form-label">Tipo de Trabajo</label>
                                <input type="text" class="form-control" id="tipo_trabajo" name="tipo_trabajo" placeholder="Tipo de Trabajo">
                            </div>
                            <div class="mb-3">
                                <label for="requisitos" class="form-label">Requisitos</label>
                                <textarea class="form-control" id="requisitos" name="requisitos" rows="3" placeholder="Requisitos"></textarea>
                            </div>
                            <!-- Agrega más campos según sea necesario -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Crear Vacante</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <% for (var i = 0; i < vacante.length; i++) { %> <!-- Iterar sobre todas las vacantes -->
                <div class="card">
                    <div class="card-header">
                        Vacante <%= i+1 %> <!-- Agregar un número de vacante para identificarlas -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= vacante[i].titulo %></h5>
                        <p class="card-text"><%= vacante[i].descripcion %></p>
                        <div class="collapse mt-3" id="vacanteDetalles<%= i %>">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Categoría:</strong> <%= vacante[i].categoria %></li>
                                <li class="list-group-item"><strong>Empresa:</strong> <%= vacante[i].empresa %></li>
                                <li class="list-group-item"><strong>Ubicación:</strong> <%= vacante[i].ubicacion %></li>
                                <li class="list-group-item"><strong>Salario:</strong> <%= vacante[i].salario %></li>
                                <li class="list-group-item"><strong>Horario:</strong> <%= vacante[i].horario %></li>
                                <li class="list-group-item"><strong>Forma de Postulación:</strong> <%= vacante[i].postulacion %></li>
                                <li class="list-group-item"><strong>Educación Mínima Requerida:</strong> <%= vacante[i].educacion %></li>
                                <li class="list-group-item"><strong>Tipo de Trabajo:</strong> <%= vacante[i].tipo_trabajo %></li>
                                <li class="list-group-item"><strong>Requisitos:</strong>
                                    <ul>
                                        <% var requisitos = vacante[i].requisitos.split(';'); %>
                                        <% for (var j = 0; j < requisitos.length; j++) { %>
                                            <li><%= requisitos[j] %></li>
                                        <% } %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#vacanteDetalles<%= i %>" aria-expanded="false" aria-controls="vacanteDetalles<%= i %>">
                            Ver detalles
                        </button>
                        <button class="btn btn-warning btn-lg btn-actualizar" type="button" data-bs-toggle="modal" data-bs-target="#editarVacanteModal" data-id="<%= vacante[i]._id %>">
                            Actualizar
                        </button>
                        <button class="btn btn-danger btn-lg btn-eliminar" type="button" data-bs-toggle="modal" data-bs-target="#eliminarVacanteModal" data-id="<%= vacante[i]._id %>">
                            Eliminar
                        </button>                        
                    </div>
                </div>
            <% } %> <!-- Fin del bucle -->
        </div>
    </div>
</div>

                <!-- Modal para editar vacante -->
                <div class="modal fade" id="editarVacanteModal" tabindex="-1" aria-labelledby="editarVacanteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarVacanteModalLabel">Editar Vacante</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario para editar la vacante -->
                                <form action="/actualizar_vacante/<%= vacante[0]._id %>" method="POST">
                                    <div class="mb-3">
                                        <label for="titulo" class="form-label">Título de la vacante</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= vacante[0].titulo %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="descripcion" class="form-label">Descripción de la vacante</label>
                                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3"><%= vacante[0].descripcion %></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoria" class="form-label">Categoría</label>
                                        <input type="text" class="form-control" id="categoria" name="categoria" value="<%= vacante[0].categoria %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="empresa" class="form-label">Empresa</label>
                                        <input type="text" class="form-control" id="empresa" name="empresa" value="<%= vacante[0].empresa %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="ubicacion" class="form-label">Ubicación</label>
                                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="<%= vacante[0].ubicacion %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="salario" class="form-label">Salario</label>
                                        <input type="text" class="form-control" id="salario" name="salario" value="<%= vacante[0].salario %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="horario" class="form-label">Horario</label>
                                        <input type="text" class="form-control" id="horario" name="horario" value="<%= vacante[0].horario %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="postulacion" class="form-label">Forma de Postulación</label>
                                        <input type="text" class="form-control" id="postulacion" name="postulacion" value="<%= vacante[0].postulacion %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="educacion" class="form-label">Educación Mínima Requerida</label>
                                        <input type="text" class="form-control" id="educacion" name="educacion" value="<%= vacante[0].educacion %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="tipo_trabajo" class="form-label">Tipo de Trabajo</label>
                                        <input type="text" class="form-control" id="tipo_trabajo" name="tipo_trabajo" value="<%= vacante[0].tipo_trabajo %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="requisitos" class="form-label">Requisitos</label>
                                        <textarea class="form-control" id="requisitos" name="requisitos" rows="3"><%= vacante[0].requisitos %></textarea>
                                    </div>
                                    <!-- Agrega más campos según sea necesario -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>     
                
                <!-- Modal para eliminar vacante -->
                <div class="modal fade" id="eliminarVacanteModal" tabindex="-1" aria-labelledby="eliminarVacanteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarVacanteModalLabel">Eliminar Vacante</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que deseas eliminar esta vacante?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <!-- Botón para confirmar la eliminación -->
                                <button type="button" class="btn btn-danger" onclick="eliminarVacante()">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>



    
    
    

        

 

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>



</html>
